/* TODO SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: #f8f9fa;
    overflow-y: auto;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}


.sidebar a:not(.active) {
    color: #625757;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
}

.sidebar a:hover, .sidebar a.active{
    background-color: #625757;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px ;
}


/* Todo PAGINATION */
.page-item.active .page-link {
    background-color: #625757 !important;
    border-color: #ced4da !important;
    color: #fefefe !important;
}


.page-item .page-link {
    background-color: #fefefe !important;
    border-color: #ced4da !important;
    color: #000000 !important;
}

.page-item .page-link:focus{
    background-color: #fefefe !important;
    border-color: #ced4da !important;
    color: #000000 !important;
    box-shadow: 0 0 0 0.2rem rgba(98, 87, 87, 0.3) !important;

}

/* Todo FORM CONTROL */

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(98, 87, 87, 0.3) !important;
    outline: none !important;
    border: none !important;
}


.form-select:focus {
    box-shadow: 0 0 0 0.2rem rgba(98, 87, 87, 0.3) !important;
    outline: none !important;
    border: none !important;
}
